.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__content {
  display: inline;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
  font-weight: 900;
  animation: blink 0.5s infinite;
}

.text-type__cursor--hidden {
  display: none;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
